In [ ]:
# Lood the dataset

In [1]:
# import lib 
import zipfile 
import pandas as pd 

data_file_path = "archive (2).zip"
movie_review = pd.read_csv(data_file_path, compression = 'zip')

movie_review.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
# Normalize the reviewes (lower case)

In [2]:
# check the column name 
print(movie_review.columns)

Index(['review', 'sentiment'], dtype='object')

In [3]:
movie_review['review'] = movie_review['review'].apply(lambda x: x.lower())
movie_review.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
# Remove all the HTML Tags

In [5]:
from bs4 import BeautifulSoup 

movie_review['review'] = movie_review['review'].apply(lambda x : BeautifulSoup(x, 'html.parser').get_text())
movie_review.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
# Removing emails

In [6]:
# extracting a substring from a string based on an email pattern
# Regular expression, find the pattern and remove it 
import re
email_pattern = r'[\w\.-]+@[\w\.-]+'
movie_review['review'] = movie_review['review'].apply(lambda x: re.sub(email_pattern, '', x))
movie_review.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
Remove all the urls

In [7]:
# a url has a pattern 
# find the pattern and delete it 
url_pattern = r'http\S+|www\S+'
movie_review['review'] = movie_review['review'].apply(lambda x: re.sub(url_pattern, '', x))
movie_review.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [ ]:
# Remove all punctuation

In [8]:
# Special characters 
import string 
movie_review['review'] = movie_review['review'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
movie_review.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production the filming tech...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [ ]:
# Remove Stop words

In [9]:
# To remove stop words, we need the list of stop words found in the nltk lib 
import nltk 
from nltk.corpus import stopwords 

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\msi\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [10]:
# Function to remove stop words 
def remove_stopWords(text):
  words = text.split()
  filtered_words = [word for word in words if word not in stop_words]
  return ' '.join(filtered_words)

In [11]:
# apply the function 
movie_review['review'] = movie_review['review'].apply(remove_stopWords)
movie_review.head()

                                              review sentiment
0  one reviewers mentioned watching 1 oz episode ...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [ ]:
# Lemmatize words

In [13]:
# another approach for lemmatization 
import spacy
nlp = spacy.load("en_core_web_sm")

def spacy_lemmatize(text):
    doc = nlp(text)
    return ' '.join([token.lemma_ for token in doc if not token.is_punct])

# use the function 
movie_review['review'] = movie_review['review'].apply(spacy_lemmatize)
movie_review.head()

                                              review sentiment
0  one reviewer mention watch 1 oz episode you ll...  positive
1  wonderful little production filming technique ...  positive
2  think wonderful way spend time hot summer week...  positive
3  basically there s family little boy jake think...  negative
4  petter matteis love time money visually stunni...  positive

In [ ]:
# Save as a pickle file

In [15]:
# Save the entire DataFrame to a pickle file
movie_review.to_pickle("processed_reviews.pkl")

In [16]:
import os
print(os.getcwd())

C:\Users\msi